@accentOrange: #ff5900;
@accentOrangeHover: rgb(255, 68, 0);
@blue: #0b7fff;
@blueTransparent: rgba(11, 127, 255, 0.4);
@red: #ff1545;
@redHover: #ff1722;
@gray: #b4b4b4;
@grayBack: #f2f4f6;
@black: #000;
@white: #fff;
