@import "type.less";

@media only screen and (max-width: 992px) {
  body {
    font-size: @fontMobile;
  }

  .filter-wrapper {
    &__filter-block {
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .nav {
    &__link {
      font-size: @fontSmall;
    }
  }
}

@media only screen and (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  .nav{
    display:none;
  }

  .mobile-nav{
    display:none;
    position:fixed;
    top:50px;
    left:0;
    height: calc(100vh - 50px);
    width:100%;
    z-index:25;
    overflow: hidden;
    &_active{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    &__item{
      list-style: none;
    }
    &__link{
      font-style: @fontStyleLight;
      font-size:@fontLarge;
      color:#fff;
      text-decoration: none;
    }
    &__sublist{
      max-height:0;
      padding-left: 20px;
      overflow: hidden;
      transition: 0.5s ease;
    }
    &__sublist &__link{
      font-size: @fontMedium;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pagination-wrapper {
    &__item {
      padding: 2vmax;
    }
  }
}

@media only screen and (max-width: 600px) {

  .social-networks {
    &__images {
      flex-direction: column;
    }
  }

  .mainInfo {
    &__text {
      font-size: @fontLarge;
    }
  }
}