@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 12px;
  }
  .filter-wrapper__filter-block {
    flex-wrap: wrap;
    align-items: center;
  }
  .nav__link {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 25;
    overflow: hidden;
  }
  .mobile-nav_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav__item {
    list-style: none;
  }
  .mobile-nav__link {
    font-style: 'HelveticaNeueCyr-Light';
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
  }
  .mobile-nav__sublist {
    max-height: 0;
    padding-left: 20px;
    overflow: hidden;
    transition: 0.5s ease;
  }
  .mobile-nav__sublist .mobile-nav__link {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .pagination-wrapper__item {
    padding: 2vmax;
  }
}
@media only screen and (max-width: 600px) {
  .social-networks__images {
    flex-direction: column;
  }
  .mainInfo__text {
    font-size: 2rem;
  }
}
