@import "normalize.css";
@import "colors.less";
@import "service-variables.less";
@import "type.less";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: @fontBase;
  font-family: @fontStyleMedium, serif;
  text-transform: uppercase;
}

.content-wrapper {
  min-width: 280px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 13vh;
  padding: 20px 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    max-width: 80%;
    height: auto;
  }
}

.nav {
  display: flex;
  min-width: 80%;
  flex-flow: row wrap;
  align-self: center;
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 1.5vh 0;
    width: 15vw;
    cursor: pointer;
    &:first-child, &:last-child {
      border-left: @blue 1px solid;
    }
    &:not(:last-child) {
      border-right: @blue 1px solid;
    }
    &:last-child {
      margin-left: auto;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    width: 100%;
    color: @black;
    font-size: @fontMedium;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
      color: @blue;
    }
  }
  &__sublist {
    border-top: 1px @white solid;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.6s ease;
    transition: all 1s ease;
    &_opened {
      visibility: visible;
      border-top: 1px @blue solid;
      max-height: 500px;
    }
    .nav__item {
      margin: 0;
      &:last-child {
        border-left: 0;
      }
    }
  }
}

.mainInfo {
  height: 87vh;
  position: relative;
  .slider {
    height: inherit;
    &__image-wrapper {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: inherit;
      transition: opacity 1s ease;
      & > img {
        object-fit: cover;
        width: 100%;
        height: inherit;
        z-index: 5;
      }
      &_active {
        opacity: 1;
      }
    }
  }
  &__textbox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    transition: 1s ease;
    &_fade-out {
      background: none;
      & .mainInfo__text {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1vw;
    text-align: center;
    color: @white;
    font-size: @fontSuperLarge;
    &_orange {
      white-space: pre;
      color: @accentOrange;
    }
  }
  &__nav-dots-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5%;
    margin: 0 auto;
  }
}

.nav-dots-wrapper {
  width: 100%;
  height: auto;
  z-index: -5;
  &__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    &_active {
      background-color: #717171;
    }
  }
  &_up {
    z-index: 15;
  }
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__filter-block {
    display: flex;
    justify-content: space-around;
  }
  &:after {
    content: "";
    outline: 1px solid @blue;
  }
}

.filter-block {
  display: flex;
  flex-direction: column;
  padding: 5vh 2vw;
  min-width: 200px;
  &__heading {
    font-family: @fontStyleLight, serif;
    font-size: @fontMedium;
    padding: 0 0 3vh;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 20vh;
  }

}

.radio-wrapper {
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: row;
    padding: 0.5vh 0;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__element:checked, &__element:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  &__element:not(:checked) + &__element-label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &__element:checked + &__element-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &__element-label {
    position: relative;
    padding: 0 0 0 30px;
    margin: 5px 0;
    cursor: pointer;
    color: @black;
    transition: 0.2s ease;
  }
  &__element-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    border: 1px solid @black;
    border-radius: 100%;
    background: #fff;
  }
  &__element-label::after {
    content: '';
    width: 10px;
    height: 10px;
    background: @accentOrange;
    position: absolute;
    top: -2px;
    bottom: 0;
    margin: auto;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  &__element:checked + &__element-label, &__element:hover + &__element-label {
    color: @accentOrange;
  }
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  &__container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 0;
  }
  &__element {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  &__element-label {
    position: relative;
    padding: 0 0 0 30px;
    color: @black;
    transition: 0.2s ease;
    cursor: pointer;
  }
  &__element-label::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid @black;
    text-align: center;
    pointer-events: none;
  }
  &__element:checked + &__element-label::after {
    content: url("../images/checkbox-tick.png");
  }
  &__element:checked + &__element-label, &__element:hover + &__element-label {
    color: @accentOrange;
  }

}

.search-wrapper {
  &__search-field {
    cursor: pointer;
    display: block;
    width: 100%;
    border: 1px solid @blue;
    box-shadow: 0 0 3px @white;
    padding: 1vh 1vw;
    &:focus {
      box-shadow: 0 0 3px @blue;
    }
  }
}

.add-lots-wrapper {
  display: none;
  &__button {
    width: 100%;
    background: @accentOrange;
    color: @white;
    font-family: @fontStyleLight, serif;
    font-size: @fontMedium;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 1vh 0;
  }
}

.auction-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vh 3vw 0;
  &__element {
    margin: 3vmin;
  }
}

.separate-good {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  min-width: 175px;
  border: 1px solid @blue;
  &__caption {
    width:100%;
    text-transform: none;
    font-family: @fontStyleLight, serif;
    font-size: @fontMedium;
    padding: 0 0 2vh;
    text-align: center;
  }
  &__price {
    font-family: @fontStyleLight;
    font-size: @fontMicro;
  }
  &__image {
    max-height:180px;
    max-width: 150px;
  }
}

.service-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1vw;
  background: #efeeee;
  overflow:hidden;
  word-break: break-all;
  &__current-bid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: @fontStyleLight;
    font-size: @fontSmall;
   &:before {
      content: "";
      background: url('../images/pict_price.png') no-repeat center;
      background-size: @fontSmall @fontSmall;
      width: @fontSmall;
      height: 100%;
      padding-right: 0.5vw;
    }
  }
  &__current-winner {
    font-family: @fontStyleLight;
    font-size: @fontSmall;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      background: url('../images/pict_user.png') no-repeat center;
      background-size: @fontSmall @fontSmall;
      width: @fontSmall;
      height: 100%;
      padding-right: 0.5vw;
    }
  }
  &__current-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: @fontStyleLight;
    font-size: @fontMedium;
    &:before {
      content: "";
      background: url('../images/pict_clock.png') no-repeat center;
      background-size: @fontMedium @fontMedium;
      width: @fontMedium;
      height: 100%;
      padding-right: 0.5vw;
    }
    &_ended {
      font-size: @fontSmall;
      &:before {
        background-size: @fontSmall @fontSmall;
        width: @fontSmall;
      }
    }
    &_timeout {
      color: @red;
    }
  }
  &__bid-button {
    width: 100%;
    max-width: 180px;
    background: @accentOrange;
    color: @white;
    font-family: @fontStyleLight, serif;
    font-size: @fontMedium;
    vertical-align: bottom;
    text-transform: uppercase;
    margin: 1vh auto;
    border: none;
    cursor: pointer;
    &_ended {
      background: @blue;
      cursor: auto;
    }
    &_timeout {
      background: @red;
      &:hover {
        background: @redHover;
        box-shadow: 0 0 0 2px @redHover;
      }
    }
    &:hover:not(&_ended):not(&_timeout) {
      background: @accentOrangeHover;
      box-shadow: 0 0 0 2px @accentOrangeHover;
    }
  }
  &__service-line {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vh 0;
    width: 100%;
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
  &__item {
    padding: 0.9vmax;
    border: 1px solid @blue;
    border-right: none;
    font-family: @fontStyleLight;
    transition: 0.25s ease;
    cursor: pointer;
    &:last-child {
      border-right: 1px solid @blue;
    }
    color: #000;
    text-decoration: none;
    &:hover:not(&_active) {
      background: @blueTransparent;
      color: #fff;
    }
    &_active {
      background: @blue;
      color: @white;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  background: @grayBack;
  color: @gray;
  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 3vh 2vw;
  }
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__heading {
    text-align: center;
    &_emphasis {
      color: @blue;
    }
  }
  &__images {
    display: flex;
    padding: 1vh 1vw 0;
    cursor: pointer;
  }
  &__image {
    filter: grayscale(100%);
    transition: 0.5s ease;
  }
  &__image:hover {
    filter: grayscale(0%);
  }
}

//Mobile menu

.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 25;
  .hamburger {
    padding: 15px 15px 32px 32px;
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
    border-radius: 0 0 0 100%;
    cursor: pointer;
    transition: padding 1s ease;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 30;
    height: auto;
    &:focus {
      outline: none;
    }
    &__box {
      width: 40px;
      height: 30px;
      display: inline-block;
      position: relative;
    }
    &__inner {
      display: block;
      top: 50%;
      margin-top: -2px;
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    &__inner, &__inner:before, &__inner:after {
      width: 40px;
      height: 4px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &__inner:before, &__inner:after {
      content: "";
      display: block;
    }
    &__inner:before {
      top: -10px;
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }
    &__inner:after {
      bottom: -10px;
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    &_active {
      & .hamburger__inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      & .hamburger__inner:before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
      }
      & .hamburger__inner:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.mobile-nav {
  display: none;
}

.dialog-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 20;
  padding: 20px 40px;
  border: none;
  box-shadow: 0 0 15px 0 @blue;
  background: @white;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    width: 15vw;
  }
  &__caption {
    display: flex;
    justify-content: center;
    font-size: @fontMedium;
    padding-bottom: 3vh;
  }
  &__input {
    padding: 3px 10px;
    margin: 5px 0;
    text-transform: none;
    width:100%;
    &[type="file"] {
      display: block;
      position:absolute;
      top:0;
      bottom:0;
      opacity: 0;
      padding: 0;
    }
  }
  &__submit {
    width: 100%;
    background: @accentOrange;
    color: @white;
    font-family: @fontStyleLight, serif;
    font-size: @fontMedium;
    text-transform: uppercase;
    padding: 1vh 0;
    margin: 1vh 0;
    border: none;
    cursor: pointer;
  }
  &__label {
    display:block;
    width:100%;
    font-size: 0.75rem;
    text-align: center;
  }
  &__upload-wrapper{
    position: relative;
    width: 100%;
  }
  &__row{
    display:flex;
    justify-content: center;
    width:100%;
  }
  &__row &__input{
    width:33%;
  }

}

.errorMessage {
  display: flex;
  justify-content: center;
  color: @red;
  text-align: center;
  font-size: @fontSmall;
}

//Hacks for IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logo {
    &__img {
      height: 50px;
      width: 180px;
    }
  }

  .mainInfo {
    &__textbox {
      display: table;
    }
    &__text {
      display: table-cell;
      vertical-align: middle;
      top: 0;
      transform: none;
      text-align: center;
      &_orange {
        display: flex;
        justify-content: center;
      }
    }
  }

  .checkbox-wrapper__element-label {
    display: block;
  }

  @media (orientation: landscape) {
    .pagination-wrapper__item {
      padding: 0.9vw;
    }
  }

  @media (orientation: portrait) {
    .pagination-wrapper__item {
      padding: 0.9vh;
    }
  }
}

//Safari display fix

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .service-info{
    &__bid-button{
      padding:2px 0;
    }
  }
}}


@import "mobile.less";
