@import "normalize.css";
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: 'HelveticaNeueCyr-Medium', serif;
  text-transform: uppercase;
}
.content-wrapper {
  min-width: 280px;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 13vh;
  padding: 20px 25px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__img {
  max-width: 80%;
  height: auto;
}
.nav {
  display: flex;
  min-width: 80%;
  flex-flow: row wrap;
  align-self: center;
}
.nav__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav__item {
  display: flex;
  align-items: center;
  padding: 1.5vh 0;
  width: 15vw;
  cursor: pointer;
}
.nav__item:first-child,
.nav__item:last-child {
  border-left: #0b7fff 1px solid;
}
.nav__item:not(:last-child) {
  border-right: #0b7fff 1px solid;
}
.nav__item:last-child {
  margin-left: auto;
}
.nav__link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
  transition: 0.4s;
}
.nav__link:hover {
  color: #0b7fff;
}
.nav__sublist {
  border-top: 1px #fff solid;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 1s ease;
}
.nav__sublist_opened {
  visibility: visible;
  border-top: 1px #0b7fff solid;
  max-height: 500px;
}
.nav__sublist .nav__item {
  margin: 0;
}
.nav__sublist .nav__item:last-child {
  border-left: 0;
}
.mainInfo {
  height: 87vh;
  position: relative;
}
.mainInfo .slider {
  height: inherit;
}
.mainInfo .slider__image-wrapper {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: inherit;
  transition: opacity 1s ease;
}
.mainInfo .slider__image-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: inherit;
  z-index: 5;
}
.mainInfo .slider__image-wrapper_active {
  opacity: 1;
}
.mainInfo__textbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.75);
  transition: 1s ease;
}
.mainInfo__textbox_fade-out {
  background: none;
}
.mainInfo__textbox_fade-out .mainInfo__text {
  opacity: 0;
  visibility: hidden;
}
.mainInfo__text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 1vw;
  text-align: center;
  color: #fff;
  font-size: 2.75rem;
}
.mainInfo__text_orange {
  white-space: pre;
  color: #ff5900;
}
.mainInfo__nav-dots-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 5%;
  margin: 0 auto;
}
.nav-dots-wrapper {
  width: 100%;
  height: auto;
  z-index: -5;
}
.nav-dots-wrapper__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.nav-dots-wrapper__dot_active {
  background-color: #717171;
}
.nav-dots-wrapper_up {
  z-index: 15;
}
.filter-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.filter-wrapper__filter-block {
  display: flex;
  justify-content: space-around;
}
.filter-wrapper:after {
  content: "";
  outline: 1px solid #0b7fff;
}
.filter-block {
  display: flex;
  flex-direction: column;
  padding: 5vh 2vw;
  min-width: 200px;
}
.filter-block__heading {
  font-family: 'HelveticaNeueCyr-Light', serif;
  font-size: 1.3rem;
  padding: 0 0 3vh;
}
.filter-block__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20vh;
}
.radio-wrapper {
  display: flex;
  flex-direction: column;
}
.radio-wrapper__container {
  display: flex;
  flex-direction: row;
  padding: 0.5vh 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-wrapper__element:checked,
.radio-wrapper__element:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio-wrapper__element:not(:checked) + .radio-wrapper__element-label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-wrapper__element:checked + .radio-wrapper__element-label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.radio-wrapper__element-label {
  position: relative;
  padding: 0 0 0 30px;
  margin: 5px 0;
  cursor: pointer;
  color: #000;
  transition: 0.2s ease;
}
.radio-wrapper__element-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 100%;
  background: #fff;
}
.radio-wrapper__element-label::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #ff5900;
  position: absolute;
  top: -2px;
  bottom: 0;
  margin: auto;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-wrapper__element:checked + .radio-wrapper__element-label,
.radio-wrapper__element:hover + .radio-wrapper__element-label {
  color: #ff5900;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
}
.checkbox-wrapper__container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 0;
}
.checkbox-wrapper__element {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.checkbox-wrapper__element-label {
  position: relative;
  padding: 0 0 0 30px;
  color: #000;
  transition: 0.2s ease;
  cursor: pointer;
}
.checkbox-wrapper__element-label::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  text-align: center;
  pointer-events: none;
}
.checkbox-wrapper__element:checked + .checkbox-wrapper__element-label::after {
  content: url("../images/checkbox-tick.png");
}
.checkbox-wrapper__element:checked + .checkbox-wrapper__element-label,
.checkbox-wrapper__element:hover + .checkbox-wrapper__element-label {
  color: #ff5900;
}
.search-wrapper__search-field {
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid #0b7fff;
  box-shadow: 0 0 3px #fff;
  padding: 1vh 1vw;
}
.search-wrapper__search-field:focus {
  box-shadow: 0 0 3px #0b7fff;
}
.add-lots-wrapper {
  display: none;
}
.add-lots-wrapper__button {
  width: 100%;
  background: #ff5900;
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 1vh 0;
}
.auction-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vh 3vw 0;
}
.auction-wrapper__element {
  margin: 3vmin;
}
.separate-good {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  min-width: 175px;
  border: 1px solid #0b7fff;
}
.separate-good__caption {
  width: 100%;
  text-transform: none;
  font-family: 'HelveticaNeueCyr-Light', serif;
  font-size: 1.3rem;
  padding: 0 0 2vh;
  text-align: center;
}
.separate-good__price {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 0.75rem;
}
.separate-good__image {
  max-height: 180px;
  max-width: 150px;
}
.service-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1vw;
  background: #efeeee;
  overflow: hidden;
  word-break: break-all;
}
.service-info__current-bid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 0.875rem;
}
.service-info__current-bid:before {
  content: "";
  background: url('../images/pict_price.png') no-repeat center;
  background-size: 0.875rem 0.875rem;
  width: 0.875rem;
  height: 100%;
  padding-right: 0.5vw;
}
.service-info__current-winner {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}
.service-info__current-winner:before {
  content: "";
  background: url('../images/pict_user.png') no-repeat center;
  background-size: 0.875rem 0.875rem;
  width: 0.875rem;
  height: 100%;
  padding-right: 0.5vw;
}
.service-info__current-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 1.3rem;
}
.service-info__current-time:before {
  content: "";
  background: url('../images/pict_clock.png') no-repeat center;
  background-size: 1.3rem 1.3rem;
  width: 1.3rem;
  height: 100%;
  padding-right: 0.5vw;
}
.service-info__current-time_ended {
  font-size: 0.875rem;
}
.service-info__current-time_ended:before {
  background-size: 0.875rem 0.875rem;
  width: 0.875rem;
}
.service-info__current-time_timeout {
  color: #ff1545;
}
.service-info__bid-button {
  width: 100%;
  max-width: 180px;
  background: #ff5900;
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', serif;
  font-size: 1.3rem;
  vertical-align: bottom;
  text-transform: uppercase;
  margin: 1vh auto;
  border: none;
  cursor: pointer;
}
.service-info__bid-button_ended {
  background: #0b7fff;
  cursor: auto;
}
.service-info__bid-button_timeout {
  background: #ff1545;
}
.service-info__bid-button_timeout:hover {
  background: #ff1722;
  box-shadow: 0 0 0 2px #ff1722;
}
.service-info__bid-button:hover:not(.service-info__bid-button_ended):not(.service-info__bid-button_timeout) {
  background: #ff4400;
  box-shadow: 0 0 0 2px #ff4400;
}
.service-info__service-line {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vh 0;
  width: 100%;
}
.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}
.pagination-wrapper__item {
  padding: 0.9vmax;
  border: 1px solid #0b7fff;
  border-right: none;
  font-family: 'HelveticaNeueCyr-Light';
  transition: 0.25s ease;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.pagination-wrapper__item:last-child {
  border-right: 1px solid #0b7fff;
}
.pagination-wrapper__item:hover:not(.pagination-wrapper__item_active) {
  background: rgba(11, 127, 255, 0.4);
  color: #fff;
}
.pagination-wrapper__item_active {
  background: #0b7fff;
  color: #fff;
}
.footer {
  display: flex;
  width: 100%;
  background: #f2f4f6;
  color: #b4b4b4;
}
.footer__column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 3vh 2vw;
}
.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social-networks__heading {
  text-align: center;
}
.social-networks__heading_emphasis {
  color: #0b7fff;
}
.social-networks__images {
  display: flex;
  padding: 1vh 1vw 0;
  cursor: pointer;
}
.social-networks__image {
  filter: grayscale(100%);
  transition: 0.5s ease;
}
.social-networks__image:hover {
  filter: grayscale(0%);
}
.mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 25;
}
.mobile-menu .hamburger {
  padding: 15px 15px 32px 32px;
  background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
  border-radius: 0 0 0 100%;
  cursor: pointer;
  transition: padding 1s ease;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 30;
  height: auto;
}
.mobile-menu .hamburger:focus {
  outline: none;
}
.mobile-menu .hamburger__box {
  width: 40px;
  height: 30px;
  display: inline-block;
  position: relative;
}
.mobile-menu .hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.mobile-menu .hamburger__inner,
.mobile-menu .hamburger__inner:before,
.mobile-menu .hamburger__inner:after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.mobile-menu .hamburger__inner:before,
.mobile-menu .hamburger__inner:after {
  content: "";
  display: block;
}
.mobile-menu .hamburger__inner:before {
  top: -10px;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.mobile-menu .hamburger__inner:after {
  bottom: -10px;
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.mobile-menu .hamburger_active .hamburger__inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-menu .hamburger_active .hamburger__inner:before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.mobile-menu .hamburger_active .hamburger__inner:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-nav {
  display: none;
}
.dialog-popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 20;
  padding: 20px 40px;
  border: none;
  box-shadow: 0 0 15px 0 #0b7fff;
  background: #fff;
}
.dialog-popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  width: 15vw;
}
.dialog-popup__caption {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  padding-bottom: 3vh;
}
.dialog-popup__input {
  padding: 3px 10px;
  margin: 5px 0;
  text-transform: none;
  width: 100%;
}
.dialog-popup__input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  padding: 0;
}
.dialog-popup__submit {
  width: 100%;
  background: #ff5900;
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1vh 0;
  margin: 1vh 0;
  border: none;
  cursor: pointer;
}
.dialog-popup__label {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
}
.dialog-popup__upload-wrapper {
  position: relative;
  width: 100%;
}
.dialog-popup__row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dialog-popup__row .dialog-popup__input {
  width: 33%;
}
.errorMessage {
  display: flex;
  justify-content: center;
  color: #ff1545;
  text-align: center;
  font-size: 0.875rem;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logo__img {
    height: 50px;
    width: 180px;
  }
  .mainInfo__textbox {
    display: table;
  }
  .mainInfo__text {
    display: table-cell;
    vertical-align: middle;
    top: 0;
    transform: none;
    text-align: center;
  }
  .mainInfo__text_orange {
    display: flex;
    justify-content: center;
  }
  .checkbox-wrapper__element-label {
    display: block;
  }
}
@media all and (-ms-high-contrast: none) and (orientation: landscape), (-ms-high-contrast: active) and (orientation: landscape) {
  .pagination-wrapper__item {
    padding: 0.9vw;
  }
}
@media all and (-ms-high-contrast: none) and (orientation: portrait), (-ms-high-contrast: active) and (orientation: portrait) {
  .pagination-wrapper__item {
    padding: 0.9vh;
  }
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance:none) {
    .service-info__bid-button {
      padding: 2px 0;
    }
  }
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 12px;
  }
  .filter-wrapper__filter-block {
    flex-wrap: wrap;
    align-items: center;
  }
  .nav__link {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    display: block;
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 25;
    overflow: hidden;
  }
  .mobile-nav_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav__item {
    list-style: none;
  }
  .mobile-nav__link {
    font-style: 'HelveticaNeueCyr-Light';
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
  }
  .mobile-nav__sublist {
    max-height: 0;
    padding-left: 20px;
    overflow: hidden;
    transition: 0.5s ease;
  }
  .mobile-nav__sublist .mobile-nav__link {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .pagination-wrapper__item {
    padding: 2vmax;
  }
}
@media only screen and (max-width: 600px) {
  .social-networks__images {
    flex-direction: column;
  }
  .mainInfo__text {
    font-size: 2rem;
  }
}
