@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@fontStyleLight: 'HelveticaNeueCyr-Light';
@fontStyleMedium: 'HelveticaNeueCyr-Medium';
@fontBase: 16px;
@fontMicro: 0.75rem;
@fontSmall: 0.875rem;
@fontMedium: 1.3rem;
@fontLarge:  2rem;
@fontSuperLarge : 2.75rem;

@fontMobile: 12px;
